.title,
.fecha,
span {
    font-weight: 800;
    color: #00acd8;
}

p {
    color: #000000;
}

.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 100%;
    margin-bottom: 3em;
}

.margin-info {
    margin-left: 40px;
}

select{
    border-radius: 15px;
    font-weight: 400;
    font-size: 1rem;
    max-width:40em;
    box-shadow: 3px 3px 6px gray;
}
