<!-- Content Wrapper -->

<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow mr-auto">
            <!--div class="col-2"></div-->
            <div class="col-md-5">
                <a class="nav-link" [routerLink]="['/']">
                    <img src="../../../assets/images/logoPosada.png" width="220" height="80">
                </a>
            </div>
            <div class="col-md-5 col-name-user">
                <p> BIENVENIDO(A): {{ displayName | uppercase }}  </p>
            </div>
            <div class="col-md-2" style="text-align: end;">

                <button type="button" class="btn btn-link" (click)="cerrarSesion()">CERRAR SESIÓN </button>
        
            </div>

        </nav>