.container {
    margin-left: 10%;
}

.navbar {
    width: auto;
}

i {
    margin-top: .4rem;
    font-size: 1.5rem;
}

.col-name-user {
    
    border-right: 2px solid #E5E5E5;
}

.col-name-user > p {
    font-size: 1rem;
    margin:0;
    text-align: right;
    margin-right: 0.5rem;
    padding-right:1rem;
}