<div class="container">
    <div class="row">
        <div class="col-md-8">
            <app-titulos [title]="'AGREGAR PACIENTE SEDE'" [rol]="'Registro'"></app-titulos>
        </div>
    </div>
    <app-registro-sedes></app-registro-sedes>
</div>
