.ahorro {
    color: green;
}

.btn-secondary {
    margin-left: 100%;
}

pagination-controls{
    color: #00acd8;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #00acd8;
}

#elimi{
    color: rgb(199, 24, 24);
}

#agree:hover{
    color:#00acd8;
}