#content {
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-spinner {
    width: 5rem;
    height: 5rem;
}

#img-fluid {
    cursor: pointer;
    width: 10em;
    height: 10em;
    display: block;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#card {
    /* //margin-left: 9em; */
    border-color: white;
    border-radius: 2em;
    /* box-shadow: 7px 7px 10px 3px rgba(0,22,114,0.9); */
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 80% !important;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}

#img2 {
    max-width: 85% !important;
    display: block;
    margin: auto;
}

#h2 {
    color: #001672;
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    font-size: 123%;
}

a {
    color: white !important;
}

.primary {
    color: #4e73df;
}

pagination-controls{
    color: #ae0000;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #ae0000;
}

.modal-dialog {
    max-width: 60rem; /* Full width */
    height: 100%; /* Full height */
    border-radius: 2rem;
    top: 50px;
}

#nopuede{
    font-size: 1.5rem;
    color: red;
    text-align: center;
}

#sipuede{
    font-size: 1.5rem;
    color: green;
    text-align: center;
}

.modal-header{
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    justify-content: center
}

.modal-body p{
    font-size: 1.5rem;
    font-weight: bold;
}

#diferir{
    margin-left: 20px;
}

#motivo{
    border-radius: 20px;
    height: 5rem;
    width: 50rem;
    margin-left: 20px;
    border: none;
    box-shadow: 5px 2px 20px 1px rgba(196, 192, 196, 1); 
    outline:none;
    padding: 10px;
}

.modal-content {
    border-radius: 2rem;
    width: 180rem; 
    height: 25rem; 
    background-color: #fefefe;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 100%; 
}


/* Responsive design */

@media(max-width:575px) {
    #card {
        border-color: white;
        border-radius: 2em;
        box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
        width: 80% !important;
        margin-bottom: 1em;
    }
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    #h2 {
        color: #ae0000;
        text-align: center;
        font-weight: bold;
        margin-top: 1em;
        font-size: 123%;
    }
}

@media (min-width: 576px) and (max-width:767px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    #h2 {
        color: #ae0000;
        text-align: center;
        font-weight: bold;
        margin-top: 1em;
        font-size: 123%;
    }
    #card {
        border-color: white;
        border-radius: 2em;
        box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
        width: 70% !important;
        margin-bottom: 1em;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    #h2 {
        color: #ae0000;
        text-align: center;
        font-weight: bold;
        margin-top: 1em;
        font-size: 123%;
    }
    #img2 {
        max-width: 90% !important;
        display: block;
        margin: auto;
    }
    #card {
        /* //margin-left: 9em; */
        border-color: white;
        border-radius: 2em;
        /* //box-shadow: 7px 7px 10px 3px rgba(0,22,114,0.9); */
        box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
        width: 85% !important;
        /* //height: 17em; */
        margin-bottom: 3em;
        /* //display: inline-block !important; */
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 3;
    }
    #img-fluid {
        display: block;
        margin-left: auto;
        max-width: 50px;
        transform: rotate(-90deg);
    }
    #img-fluid-2 {
        display: block;
        max-width: 50px;
        transform: rotate(-360deg) scaleX(-1);
    }
    #logo {
        display: block;
        margin-top: 40%;
    }
    #card {
        /* //margin-left: 9em; */
        border-color: white;
        border-radius: 2em;
        /* //box-shadow: 7px 7px 10px 3px rgba(0,22,114,0.9); */
        box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
        /* //height: 17em; */
        width: 85% !important;
        margin: 2em;
        /* //display: inline-block !important; */
    }
    #img2 {
        max-width: 90% !important;
        display: block;
        margin: auto;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
    #img-fluid {
        display: block;
        margin-left: auto;
        max-width: 50px;
        transform: rotate(-90deg);
    }
    #img-fluid-2 {
        display: block;
        max-width: 50px;
        transform: rotate(-360deg) scaleX(-1);
    }
    #logo {
        display: block;
        margin-top: 20%;
    }
    #card {
        border-color: white;
        border-radius: 2em;
        box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
        width: 75% !important;
        margin: 2em;
    }
    #img2 {
        max-width: 85% !important;
        display: block;
        margin: auto;
    }
    #h2 {
        color: #ae0000;
        text-align: center;
        font-weight: bold;
        margin-top: 1em;
        font-size: 123%;
    }
}

@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);

html, body { height: 100%; }
body { display: flex; justify-content: center; align-items: center; margin:20px 0; text-align:center; background:beige; overflow:hidden; }

h1 {
 font-size:5em;
 font:bold 7.5vw/1.6 'Signika', sans-serif;
 user-select:none;
}

h1 span { display:inline-block; animation:float .2s ease-in-out infinite; }
 @keyframes float {
  0%,100%{ transform:none; }
  33%{ transform:translateY(-1px) rotate(-2deg); }
  66%{ transform:translateY(1px) rotate(2deg); }
}
body:hover span { animation:bounce .6s; }
@keyframes bounce {
  0%,100%{ transform:translate(0); }
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); }
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1);  }
}

span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }

h1 span:nth-child(2){ animation-delay:.05s; }
h1 span:nth-child(3){ animation-delay:.1s; }
h1 span:nth-child(4){ animation-delay:.15s; }
h1 span:nth-child(5){ animation-delay:.2s; }
h1 span:nth-child(6){ animation-delay:.25s; }
h1 span:nth-child(7){ animation-delay:.3s; }
h1 span:nth-child(8){ animation-delay:.35s; }
h1 span:nth-child(9){ animation-delay:.4s; }
h1 span:nth-child(10){ animation-delay:.45s; }
h1 span:nth-child(11){ animation-delay:.5s; }
h1 span:nth-child(12){ animation-delay:.55s; }
h1 span:nth-child(13){ animation-delay:.6s; }
h1 span:nth-child(14){ animation-delay:.65s; }