li {
    list-style: none;
}
#card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    border-top-right-radius: 8rem;
    /* display: inline-block !important; */
}