.card{
    border-color: white;
    border-radius: 2em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    width: 90%;
    margin-bottom: 3em;
    margin-left: 50px;
}

form {
    padding-top: 20px;
    padding-left: 45px;
    padding-right: 45px;
}

label{
    font-size: .9rem;
    color: black;
}

input{
    box-shadow: 3px 3px 6px gray; 
    border-radius: .5rem;
    height: 30px;
}

.principalButton{
    background-color: #00acd8;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    height: 40px;
    width: 215px;
}




