.container-fluid{
    height: 50rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.header {
    background-color: #00acd8;
}

.card{
    border-radius: 30px; 
    margin-left: 25px;
    margin-top: 15px;
    box-shadow: 3px 3px 10px gray;
}

.text_header {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    color: white;
    margin-top: 15px;
    font-weight: 600;
    color: white;
}

.mayus {
    text-transform: uppercase;
}

.col, p{
    overflow-wrap: break-word;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
}

pagination-controls{
    color: #00acd8;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #00acd8;
}