<div class="card" style="border-radius: 30px; margin-left: 25px">
  <form #form="ngForm">
    <mat-horizontal-stepper linear #stepper style="background: none">
      <mat-step label="DATOS PERSONALES">
        <h3>PERSONALES</h3>
        <div class="row">
          <div class="col-md-3">
            <label> NOMBRES (S) </label>
          </div>
          <div class="col-md-3">
            <input
              matInput
              maxlength="50"
              type="text"
              required
              name="nombre"
              ngModel
              id="nombre"
              class="form-control mayusculas"/>
          </div>
          <div class="col-md-3">
            <label for="apellidoPaterno"> APELLIDO PATERNO </label>
          </div>
          <div class="col-md-3">
            <input
              type="text"
              maxlength="70"
              required
              ngModel
              name="apellidoPaterno"
              id="apellidoPaterno"
              class="form-control mayusculas"/>
          </div>
          <div class="col-md-3">
            <label for="apellidoMaterno"> APELLIDO MATERNO </label>
          </div>
          <div class="col-md-3">
            <input
              type="text"
              maxlength="70"
              required
              ngModel
              name="apellidoMaterno"
              id="apellidoMaterno"
              class="form-control mayusculas"/>
          </div>
          <div class="col-md-3">
            <label for="edad"> EDAD</label>
          </div>
          <div class="col-md-3">
            <input
              type="number"
              min="0"
              max="150"
              ngModel
              name="edad"
              id="edad"
              class="form-control"/>
          </div>
          <div class="col-md-3">
            <label for="telefono"> TELEFONO</label>
          </div>
          <div class="col-md-3">
            <input
              type="number"
              min="0"
              max="10"
              ngModel
              name="telefono"
              id="telefono"
              class="form-control"/>
          </div>
          <div class="col-md-3">
            <label for="genero"> GÉNERO </label>
          </div>
          <div class="col-md-3">
            <select name="genero"
                    required
                    ngModel
                    id="genero"
                    class="form-control">
              <option value="FEMENINO">FEMENINO</option>
              <option value="MASCULINO">MASCULINO</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="correoHuesped"> CORREO ELECTRONICO</label>
          </div>
          <div class="col-md-3">
            <input type="email"
                   ngModel
                   name="correoHuesped"
                   id="correoHuesped"
                   class="form-control"/>
          </div>
          <div class="col-md-3">
            <label for="domicilio"> DIRECCIÓN</label>
          </div>
          <div class="col-md-3">
            <input type="text"
                   ngModel
                   name="domicilio"
                   id="domicilio"
                   class="form-control"/>
          </div>
          <div class="col-md-3">
            <label for="claveIne"> CLAVE DEL INE</label>
          </div>
          <div class="col-md-3">
            <input type="text"
                   ngModel
                   name="claveIne"
                   id="claveIne"
                   class="form-control"/>
          </div>
        </div>
        <div class="center">
          <button mat-button
                  matStepperNext
                  class="principalButton"
                  (click)="enviar(form)"
                  [disabled]="btnActivar">
            Agregar
          </button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#00bbf1" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
</div>