input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
    margin-top: .5rem;
}

label {
    margin: .1rem;
}

input{
    margin-bottom: 15px;
}

label{
    margin-top: 15px;
}

h3 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1.1rem;
}

.principalButton {
    color: white;
    font-size: 1.3rem;
    margin-top: 15px;
}

button {
    color: --button-package;
    /* display: block; */
}

.card {
    box-shadow: 3px 3px 10px gray;
}
.mayusculas{
    text-transform: uppercase;
}
.minusculas{
    text-transform: lowercase;
}