form{
    margin-top: 45px;
}
span {
    font-weight: 800;
    color: #00acd8;
}

p{
    font-size: .9rem;
}

input{
    margin-left: 5px;
    box-shadow: 3px 3px 6px gray; 
    border-radius: 1rem;
    outline: none;
    border: none;
    height: 30px;
}

textarea{
    box-shadow: 3px 3px 6px gray; 
    border-radius: 1rem;
    outline: none;
    border: none;
}

.boton{
    margin-top: 15px;
    border: none;
    background-color: #00acd8 !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    height: 40px;
    width: 150px;
    margin-bottom: 15px;
}

.boton2{
    margin-top: 15px;
    border: none;
    background-color: #686A8F !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    height: 40px;
    width: 150px;
    margin-left: 10px;
    margin-bottom: 15px;
}