<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <app-titulos [title]="'BITACORA DE ENFERMERÍA CONSULTA EXTERNA'"></app-titulos>
        </div>
        <div class="col">
            <!-- TODO:REVISAR EL HISTORIAL DE CONSULTAS EN ENFERMERIA SOCIO -->
            <!-- <button class="boton" [routerLink]="['/enfermeria/bitacora']"> HISTORIAL DE CONSULTAS </button> -->
            <button class="principalButton" (click)="imprimirBitacora()">IMPRIMIR BITACORA</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-heder header mayus">
                    <div class="row">
                        <div class="col-md-1 text_header">
                            <p>#</p>
                        </div>
                        <div class="col text_header">
                            <p>Nombre</p>
                        </div>
                        <div class="col text_header">
                            <p>Curp</p>
                        </div>
                        <div class="col text_header">
                            <p>Edad</p>
                        </div>
                        <div class="col text_header">
                            <p>Servicio médico</p>
                        </div>
                        <div class="col text_header">
                            <p>Médico</p>
                        </div>
                        <div class="col text_header">
                            <p>Hora de cita</p>
                        </div>
                    </div>
                </div>
                <div class="card-body mayus">
                    <div *ngFor="let listaEsperaP of listaEspera | paginate:{id:'listapacientes',
                    itemsPerPage: 5,
                    currentPage:pagina,
                    totalItems:totalpaciente} ; let i = index">
                        <div class="row pointer" [routerLink]="['/ficha-enfermeria-01', listaEsperaP._id]" >
                            <div class="col-md-1" style="text-align: center;">
                                <p>{{i+1}}</p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>{{ listaEsperaP.paciente.nombrePaciente }} {{ listaEsperaP.paciente.apellidoPaterno }} {{ listaEsperaP.paciente.apellidoMaterno }}</p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>{{listaEsperaP.paciente.curp}}</p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>{{listaEsperaP.paciente.edad}}</p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>{{listaEsperaP.tipoDeServicio}}</p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>{{listaEsperaP.doctorAPasar}}</p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>{{listaEsperaP.horaIngreso}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-md-4">
                    <pagination-controls class="my-pagination" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior" id="listapacientes" maxSize="5" directionLinks="true" (pageChange)="pagina = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="center">
        <section class="sec">
        
    </section> -->
    <!-- <div class="btn">

        <button class="btn btn-primary mayus" (click)="imprimirBitacora()">Imprimir Bitácora</button>

    </div> -->

</div>





<!-- <div class="container-fluid"></div>
<h1 h1 class="centerxd"> BITACORA DE ENFERMERÍA CONSULTA EXTERNA</h1>
<div class="center">
    <section>
        <div class="card" style="border-radius: 30px;">
            <div class="card-header header">
                <div class="row">
                    <div class="col-1 text_header">
                        <p>#</p>
                    </div>
                    <div class="col text_header">
                        <p>Nombre</p>
                    </div>
                    <div class="col text_header">
                        <p>Curp</p>
                    </div>
                    <div class="col text_header">
                        <p>Edad</p>
                    </div>
                    <div class="col text_header">
                        <p>Servicio médico</p>
                    </div>
                    <div class="col text_header">
                        <p>Médico</p>
                    </div>
                    <div class="col text_header">
                        <p>Hora de cita</p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div *ngFor="let listaEsperaP of listaEspera; let i = index">
                    <div class="row clickss" [routerLink]="['/ficha-enfermeria-01', listaEsperaP._id]" (click)="cambioDeEstadoConsulta(listaEsperaP._id)">
                        <div class="col-1">
                            <p class="nombre">{{i+1}}</p>
                        </div>
                        <div class="col ">
                            <p class="nombre">{{ listaEsperaP.paciente.nombrePaciente }} {{ listaEsperaP.paciente.apellidoMaterno }} {{ listaEsperaP.paciente.apellidoPaterno }}</p>
                        </div>
                        <div class="col ">
                            <p class="nombre">{{listaEsperaP.paciente.curp}}</p>
                        </div>
                        <div class="col ">
                            <p class="nombre">{{listaEsperaP.paciente.edad}}</p>
                        </div>
                        <div class="col ">
                            <p class="nombre">{{listaEsperaP.tipoDeServicio}}</p>
                        </div>
                        <div class="col ">
                            <p class="nombre">{{listaEsperaP.doctorAPasar}}</p>
                        </div>
                        <div class="col ">
                            <p class="nombre">{{listaEsperaP.horaIngreso}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer"></div>
        </div>
    </section>
    <div class="btn">

        <button class="btn btn-primary" (click)="imprimirBitacora()">Imprimir Bitácora</button>

    </div>

</div> -->