.container-fluid{
    height: 40rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.header {
    background-color: #00acd8;
}

.card{
    border-radius: 30px; 
    margin-left: 25px;
    margin-top: 15px;
    box-shadow: 3px 3px 10px gray;
}

.text_header {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    color: white;
    margin-top: 15px;
    font-weight: 600;
    color: white;
}

.boton{
    border: none;
    background-color: #00acd8 !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    height: 40px;
    width: 250px;
    margin-top: 5px;
}
.card-heder, p{
    overflow-wrap: break-word;
    text-align: center;
    font-size: 10px;
    font-weight: 800;
}


.card-body, p{
    overflow-wrap: anywhere;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
}

pagination-controls{
    color: #00acd8;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #00acd8;
}

.principalButton {
    border: none;
    background-color: #686A8F !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    height: 40px;
    width: 250px;
    margin-top: 5px;
}