.head-container {
    border: 1px solid #282788;
    border-radius: 25px;
    background-color: #ffffff;
    margin-left: 4rem;
    max-width: 1100px;
}

.principalButton {
    color: white;
}

.body-left {
    margin-top: 1rem;
    max-width: 20rem;
    border: 1px solid #282788;
    float: left;
    border-radius: 25px;
    margin-left: 4rem;
    margin-right: 1rem;
    height: 61rem;
    /* max-width: 900px; */
}

.second-button {
    background-color: var( --button-secondary);
    border: transparent;
    color: white;
    border-radius: 4rem;
}

li {
    list-style: none;
}

li>button {
    margin-bottom: .8rem;
}

.body-r {
    margin-top: 1rem;
    border: 1px solid #282788;
    border-radius: 25px;
    max-width: 50rem;
    margin-left: 24.3rem;
    height: auto;
    max-width: 778px;
}

h1 {
    text-align: left;
}

p {
    display: inline-block;
}

p,
h2,
label,
strong,
h3,
h4 {
    color: var(--principal-text);
}

span {
    font-weight: bold;
    color: black;
}

.botones-he {
    margin-top: 1rem;
    text-align: center;
    margin-left: 1rem;
}

i {
    cursor: pointer;
}

.modal-grafica {
    height: 40rem;
}

.inputStyle {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #282788;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-right: 2rem;
}

.selectStyle,
select {
    max-width: 47rem;
    border-radius: 10px;
    border: 1px solid #282788;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-right: 2rem;
}

.enBloques,
input {
    margin-top: 1.2rem;
    border-radius: 12px;
    width: 45rem;
}

.primerReceta {
    width: 20px;
    margin-top: 0;
    margin-top: 0.8rem;
}

.resaltar {
    font-size: 1.4rem;
}


/* .enBloques,
label {
  margin-top: 1.2rem;
  margin-left: 1.3rem;
  margin-right: 0.1rem;
}



.enBloques,
label:first-of-type {
  margin-left: 1rem;
  margin-top: 1.2rem;
}

.enBloquesFisica,
label {
  margin-left: 1.5rem;
  margin-right: 6rem;
  margin-bottom: 1.1rem;
} */

.enBloque,
label {
    margin-top: 1rem
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 15px;
}

.card {
    padding: 0.5rem;
}

#card {
    margin: 0 auto;
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    width: 95%;
    margin-bottom: 3em;
}

.modal-dialog {
    max-width: 95%;
}

#botones button{
    border: none;
    background-color: transparent;
    color: #686A8F;
    font-weight: 400;
    text-decoration: none;
}

#botones button:hover{
    font-weight: bold;
    color: #00acd8;
}