<app-membresia *ngIf="nombre == 'SERVICIOS DE LA MEMBRESÍA'" [id]="id"></app-membresia>
<app-medico-laboral *ngIf="nombre == 'PAQUETE MÉDICO LABORAL'" [id]="id"></app-medico-laboral>
<app-neonatal *ngIf="nombre == 'PAQUETE NEONATAL (DE 0 A 12 MESES)'" [id]="id"></app-neonatal>
<app-pediatrico *ngIf="nombre == 'PAQUETE PEDIÁTRICO (APARTIR DE LOS 12 MESES)'" [id]="id"></app-pediatrico>
<app-prenatal *ngIf="nombre == 'PAQUETE DE CONTROL PRENATAL'" [id]="id"></app-prenatal>
<app-prenatal-riesgo *ngIf="nombre == 'PAQUETE DE CONTROL PRENATAL DE ALTO RIESGO'" [id]="id"></app-prenatal-riesgo>
<app-vida-plena *ngIf="nombre == 'PAQUETE VIDA PLENA'" [id]="id"></app-vida-plena>