.container-fluid{
    height: 35rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.boton_contra2 {
    border: none;
    background-color: #00acd8 !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    height: 40px;
    width: 250px;
    margin-top: 5px;
}

pagination-controls{
    color: #00acd8;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #00acd8;
}

.col, p{
    overflow-wrap: break-word;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
}