

li {
    list-style: none;
}

.fa-trash {
    margin-top:1rem;
    font-size:2rem;
}
.badge-hospitalizacion {
    text-align: center;
}

#card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    border-top-right-radius: 8rem;
    /* display: inline-block !important; */
}

 @media print
{
.noprint {display:none;}
#content {
    width: calc(100% - 0%);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
}

tr > select {
    margin-top:4%;
}