<div class="container animate bounceInLeft">
    <h2 class="text-center"></h2>
    <div class="">
        <ficha-info-user [pacienteInfo]="pacienteInfo"></ficha-info-user>
    </div>
    <div class="card" id="card">
        <div class="row">
            <div class="col-md-6">
                <div class="container-fluid">
                    <button class="btn btn-secondary mb-2 noprint"  type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-folder-plus"></i> Agregar consulta
                    </button>
                    <div class="btn mb-2 noprint">
                        <select name="servicio" class="form-control" id="" #servicio (change)="irAUnServicio( servicio.value  )">
                        <option   value="" selected> Selecciona un servicio  </option>
                        <option   value="ambulancia"> Ambulancia</option>
                        <option   value="consulta"  > Consulta General </option>
                        <option   value="consultaEspecialista">  Consulta con especialista </option>
                        <option   value="endoscopia"> Endoscopia</option>
 
                        <option   value="laboratorio"> Laboratorio</option>

                        <option   value="xray">     Rayos X</option>
                        <option   value="resonancia"> Resonancia</option>
                        <option   value="tomografias"> Tomografías</option>

                        <option   value="ultrasonido"> Ultrasonido</option>
                        <option   value="otros"> Otros </option> 
                      </select>
                    </div>

                    <div class="btn mb-2 noprint">
                        <button class="btn btn primary mb2" class="btn btnPrincipalBS" data-toggle="modal" data-target="#exampleModal" > Agregar pago </button>
                    </div>
                    <div class="collapse mb-4 noprint" id="collapseExample">
                        <div class="card card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        
                                        <select class="form-control" #select (change)="seleccion($event, select.value)" [(ngModel)]="consultas.tipo">
                                            <option value="" selected>Tipo de consulta o estudio...</option>
                                            <option value="visitas" *ngIf="pacienteInfo.membresiaActiva == true">Citas incluidas</option>
                                            <option value="examenesLab" *ngIf="pacienteInfo.membresiaActiva == true">Estudios de laboratorio</option>
                                          </select>
                                            <!-- <p class="text-danger">*No puedes agregar más consultas</p> -->
                                    </tr>
                                    <tr>
                                        <select class="form-control" #selectCon [(ngModel)]="consultas.consulta">
                                            <option value="" selected>Concepto...</option>
                                            <option [value]="item" *ngFor="let item of concepto">{{ item }}</option>
                                        </select>
                                    </tr>
                                        

                                        <tr>
                                            <select class="form-control" [(ngModel)]="consultas.medico">
                                                <option value="" selected>Médico...</option>
                                                <option [value]="medico.nombre" *ngFor="let medico of medicos">{{ medico.nombre }}</option>
                                            </select>
                                        </tr>

                                        <tr>
                                            <button class="btn btnPrincipalBS mt-4" [disabled]="btnAgregaConsultas" (click)="agregarConsulta()">Agregar</button>
                                        </tr>
                                        

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">

                <div class="row mt-3" *ngFor="let item of infoVenta.estudios">
                    
                    <div class="col-md-10">
                        {{ item.consulta }} 
                        
                    </div>
                    <div class="col-md-2">
                        
                        <i  class="fa fa-trash colorRed"></i>
                    </div>

                </div>

                    <div class="row mt-4"   *ngIf="infoVenta.estudios.length > 0">
                        
                       <button class="btn btnPrincipalBS"   [routerLink]="['/pago/servicios']"  > Pagar Servicios </button>
                    </div>
            </div>
            <div class="col-md-2 noprint">
                <img [src]="item.paquete.icon " *ngFor="let item of paquete " class="img-fluid ">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="container-fluid">


                    <div class="p-3 mb-2 bg-success text-white noprint">
                        Citas incluidas
                    </div>
                    <div class="container-fluid noprint">
                        <div class="row">
                            <div class="col-md-4">

                                <div class="card" style="cursor: pointer;" id="gineco" (click)="showMessage('1 Urocultivo')">
                                    <div class=" card-body">
                                        <span class="badge " id="badegeGineco"></span>

                                        <p class="text-center "><i class="fas fa-female mr-2 "></i> 7 Consultas con especialista en Ginecología y obstetricia </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">

                                <div class="card" style="cursor: pointer;" id="pediatria" (click)="showMessage('1 Urocultivo')">
                                    <div class=" card-body">
                                        <span class="badge " id="badegePediatria"></span>

                                        <p class="text-center "><i class="fas fa-female mr-2 "></i> 1 consulta con pediatría antes de su parto o cesárea </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let item of citas; let i = index">
                                <div class="card border-success" style="cursor: pointer;" (click)="mostrarDatos(item.consulta, item.medico, '1')">
                                    <div class="card-body">
                                        <span class="badge badge-success">{{ i + 1 }}</span>
                                        <p class="text-center"><i class="fas fa-file-alt mr-2"></i> {{ item.fecha }} {{ item.hora }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5 p-3 mb-2 bg-primary text-white noprint">
                        Estudios de laboratorio
                    </div>
                    <div class="container-fluid noprint">
                        <div class="row cardsExamen">
                            <div class="col-md-4">

                                <div class="card" id="cardBiometria" style="cursor: pointer;" (click)="showMessage( '1 Biometría hemática completa')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeBiometria"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 2 Biometría hemática completa </p>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="quimicaSanguineaCard" (click)="showMessage('1 Química sanguínea de 6 elementos (Glucosa, Urea, Creatinina, Ácido Úrico, Colesterol y Triglicéidos )')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeQuimica"></span>

                                        <p class="text-center"><i class="fas fa-female mr-2"></i> Quimica sanguinea de 6 elementos (Glucosa, Urea, Creatinina, Ácido Úrico, Colesterol y Trigliceridos ) </p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">

                                <div class="card" style="cursor: pointer;" id="egoCard" (click)="showMessage('2 Exámen General de Orina')">
                                    <div class=" card-body">
                                        <span class="badge " id="badegeEgo1"></span>

                                        <p class="text-center "><i class="fas fa-female mr-2 "></i> 2 Examen General de Orina </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 ">
                                <div class="card " style="cursor: pointer; " id="VrlCard" (click)="showMessage('1 V.D.R.L')">
                                    <div class=" card-body">
                                        <span class="badge" id="badgeVrl"></span>
                                        <p class="text-center "><i class="fas fa-female mr-2 "></i> 1 V.D.R.L </p>
                                    </div>
                                </div>

                            </div>


                            <div class="col-md-4 ">

                                <div class="card " style="cursor: pointer; " id="vihcard" (click)="showMessage('1 V.I.H.')">
                                    <div class="card-body">
                                        <span class="badge" id="vihbadge"></span>
                                        <p class="text-center "><i class="fas fa-female mr-2"></i> 1 V.I.H.

                                        </p>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-4 ">

                                <!--  -->
                                <div class="card " style="cursor: pointer;" id="grupoSanguineoCard" (click)="showMessage('1 Grupo Sanguíneo')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeGrupoSanguineo"></span>
                                        <p class="text-center "><i class="fas fa-female mr-2 "></i> 1 Grupo Sanguineo

                                        </p>
                                    </div>
                                </div>


                            </div>



                            <div class="col-md-4">

                                <div class="card" style="cursor: pointer;" id="ExudadoVagCard" (click)="showMessage('1 Exudado Vaginal')">
                                    <div class=" card-body">
                                        <span class="badge " id="badegeEV"></span>

                                        <p class="text-center "><i class="fas fa-female mr-2 "></i> 1 Exudado Vaginal </p>
                                    </div>
                                </div>
                            </div>

                            



                            <div class="col-md-4">

                                <div class="card" style="cursor: pointer;" id="uroCard" (click)="showMessage('1 Urocultivo')">
                                    <div class=" card-body">
                                        <span class="badge " id="badegeURO"></span>

                                        <p class="text-center "><i class="fas fa-female mr-2 "></i> 1 Urocultivo </p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 ">
                                <div class="card " style="cursor: pointer; " id="tiemposCoagulacionCard" (click)="showMessage('1 Tiempos de Coagulación')">
                                    <div class="card-body">
                                        <span class="badge" id="tiemposCoagulacionBadge"></span>
                                        <p class="text-center "> <i class="fas fa-female mr-2 "></i> 1 Tiempos de Coagulación
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 ">
                                <div class="card " style="cursor: pointer; " id="curvaDetoleranciaCard" (click)="showMessage('1 Curva de tolerancia a la Glucosa')">
                                    <div class="card-body ">
                                        <span class="badge " id="curvaDetoleranciaBadge"></span>
                                        <p class="text-center "><i class="fas fa-female mr-2 "></i> 1 Curva de tolerancia a la Glucosa

                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="mt-5 p-3 mb-2 bg-primary text-white noprint">
                        ULTRASONIDOS
                    </div>
                    <div class="container-fluid noprint">
                        <div class="row cardsExamen">
                            <div class="col-md-4">

                                <div class="card" id="cardObstetri" style="cursor: pointer;" (click)="showMessage( '2 Ultrasonidos obstétricos convencionales')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeObstetri"></span>
                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 2 Ultrasonidos obstétricos convencionales </p>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="card" style="cursor: pointer;" id="estructuralCard" (click)="showMessage('1 Ultrasonido estructural')">
                                    <div class="card-body">
                                        <span class="badge" id="badgeEstructural"></span>

                                        <p class="text-center"><i class="fas fa-female mr-2"></i> 1 Ultrasonido estructural</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="mt-5 p-3 mb-2 bg-primary text-white noprint">
                        Hospitalizaciones

                    </div>
                    <div class="row mt-3 mb-3 noprint ">
                        <div class="col-lg-3 col-md-6 col-sm-12 ">
                            <!-- (click)="mostrarDatos(item.consulta, item.medico, '2') " -->
                            <div class="card " (click)="mostrarHospitalizacion() " id="hospitalizacion" style="cursor: pointer; ">
                                <div class="card-body ">
                                    <p> Hospitalicación en habitación estándar </p>
                                    <span class="badge " id="badgeHospitalzacion">  </span>
                                    <p class="text-center "><i class="fas fa-female mr-2 "></i> Fecha: {{ hospitalizacion.fecha }} Hora: {{hospitalizacion.hora}} </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5 p-3 mb-2 bg-primary text-white noprint ">
                        Consulta despues del parto o Cesárea con Medicina General
                    </div>

                    <div class="row mt-3 mb-3 noprint">
                        <div class="col-lg-3 col-md-6 col-sm-12 ">

                            <div class="card " (click)="mostrarConsultasDespuesParto()" id="consultaDespuesDelParto" style="cursor: pointer; ">
                                <div class="card-body ">
                                    <!-- <pre> {{ consultaDespuesParto | json }} </pre> -->
                                    <p> Consulta despues del parto o Cesárea con Medicina General</p>
                                    <span class="badge " id="badgeParto">  </span>
                                    <p class="text-center "><i class="fas fa-female mr-2 "></i> Fecha: {{ consultaDespuesParto.fecha }} {{ consultaDespuesParto.hora }} </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5 p-3 mb-2 bg-success text-white ">
                        Tabla de pagos
                    </div>
                    <div class="col-lg-12 noprint" style="text-align: right;">
                        <a href="javascript:window.print('component1')" type="submit" class="px-3 btn btnSubmit mt-3">IMPRIMIR</a>
                    </div>
                  
                    <div class="mt-5 p3 mb-3">
                        <div class="">
                            <div class="card" style="width: auto !important;">
                                <div class="card-header header">
                                    <div class="">
                                        <div class="row">
                                            <div class="col text_header">
                                                <p>semana de gestación</p>
                                            </div>
                                            <div class="col text_header">
                                                <p>Semanas de pagos</p>
                                            </div>
                                            <div class="col text_header">
                                                <p>Pago</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <p style="text-align: center;">0</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: center;">0</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: center;">2500</p>
                                        </div>
                                    </div>
                                    <div class="row" *ngFor="let item of tabularpagos">
                                        <!--pre>{{item | json}}</pre-->
                                        <div class="col">
                                            <p style="text-align: center;">{{item.semanaGesta}}</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: center;">{{item.semanapago}}</p>
                                        </div>
                                        <div class="col">
                                            <p style="text-align: center;">{{item.pago}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>EL total acumulado es de :</p>
                                        </div>
                                        <div class="col"></div>
                                        <div class="col">
                                            <h6 style="text-align: left;">
                                                {{totalpagos | currency}}
                                            </h6>
                                         
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p>EL restante del paquete es :</p>
                                        </div>
                                        <div class="col"></div>
                                        <div class="col">
                                            <h6 style="text-align: left;">
                                                {{(17500) - totalpagos | currency}}
                                            </h6> 
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Pago de control prenatal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  >
              <div class="row">
                <div class="col-md-12" *ngFor="let item of sem">
                    <mat-label> Semana de gestación </mat-label>
                    <div class="col-md-13"> <sub> semana de gestación: {{item.semanaGesta}}</sub></div>
                    
                    <select *ngIf="item.semanaGesta == '' " name="semanaGesta" id="Paciente" class="form-control" [(ngModel)]="pagos.semanaGesta" (change)="obtenerSemanasPago()" (change)="obtenerPagos()">
                        <option [value]="item" *ngFor="let item of semanaGestacion">{{item}}</option>
                        <!-- <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>                 
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>                 
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>                 
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                        <option value="32">32</option>
                        <option value="33">33</option>
                        <option value="34">34</option>                 
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option> -->
                    </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <mat-label> Semana de pagos </mat-label>
                    <select name="semanapago" id="Paciente2" class="form-control" [(ngModel)]="pagos.semanapago" disabled>
                        <option [value]="item" *ngFor="let item of semanapago">{{item}}</option>
                        <!-- <option value="37">37</option>
                        <option value="36">36</option>
                        <option value="35">35</option>                 
                        <option value="34">34</option>
                        <option value="33">33</option>
                        <option value="32">32</option>
                        <option value="31">31</option>
                        <option value="30">30</option>
                        <option value="29">29</option>
                        <option value="28">28</option>
                        <option value="27">27</option>
                        <option value="26">26</option>
                        <option value="25">25</option>                 
                        <option value="24">24</option>
                        <option value="23">23</option>
                        <option value="22">22</option>
                        <option value="21">21</option>
                        <option value="20">20</option>
                        <option value="19">19</option>
                        <option value="18">18</option>
                        <option value="17">17</option>
                        <option value="16">16</option>
                        <option value="15">15</option>
                        <option value="14">14</option>                 
                        <option value="13">13</option>
                        <option value="12">12</option>
                        <option value="11">11</option>
                        <option value="10">10</option>
                        <option value="9">9</option>
                        <option value="8">8</option>
                        <option value="7">7</option>
                        <option value="6">6</option>
                        <option value="5">5</option>                 
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option> -->
                    </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <mat-label> Pago </mat-label>
                    <input matInput type="number" min="0" name="pago" class="form-control" [(ngModel)]="pagos.pago" disabled>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input type="radio" value="si" name="SI" [(ngModel)]="riesgo.valores" (change)="habilitarRiesgo()">
                            <label class="form-check-label"> Inlcuye semana</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" value="no" name="NO" [(ngModel)]="riesgo.valores" (change)="habilitarRiesgo()">
                            <label class="form-check-label">No incluye semana</label>
                        </div>
                    </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-5">
                    <mat-label> Deposito </mat-label>
                    <input matInput type="number" min="0" name="Deposito" class="form-control" [(ngModel)]="deposito" (change)="actualizarSemanasPago()">
                </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
            
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="agregarPago()">Pagar</button>
        </div>
      </div>
    </div>
  </div>