<div class="container-fluid">
    <app-titulos [title]="'LISTADO DE HUÉSPEDES'"></app-titulos>

    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <input type="text" name="filterPost" placeholder="Buscar" class="form-control" id="busquedaPaciente">
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn boton_contra2" [routerLink]="['/posada/registro/huesped']">
                NUEVO
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-heder header">
                    <div class="row">
                        <div class="col-md-4 text_header">
                            <p>Nombre</p>
                        </div>
                        <div class="col text_header">
                            <p>Género</p>
                        </div>
                        <div class="col text_header">
                            <p>Edad</p>
                        </div>
                        <div class="col text_header">
                            <p>Teléfono</p>
                        </div>
                        <div class="col text_header">
                            <p>Servicios</p>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div *ngFor="let item of huesped | paginate:{id:'listahuesped',
                    itemsPerPage: 5,
                    currentPage:pagina,
                    totalItems:totalhuspedes}">
                        <div class="row pointer">
                            <div class="col-md-4" style="text-align: center;">
                                <p>
                                    {{item.nombre}} {{item.apellidoPaterno}} {{item.apellidoMaterno}}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{item.genero}}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{item.edad}}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{item.telefono}}
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <div class="row">
                                    <div class="col">
                                        <i class="fa fa-eye eyeS pointer" id="ver"></i>
                                    </div>
                                    <div class="col">
                                        <i class="fas fa-edit pointer" id="ver"></i>   
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="huesped.length == 0">
                        <p>
                            Aún no hay pacientes registrados
                        </p>
                    </div>
                </div>
                <div class="offset-md-4">
                    <pagination-controls class="my-pagination" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior" id="listahuesped" maxSize="5" directionLinks="true" (pageChange)="pagina = $event"></pagination-controls>
                </div>
            </div>
        </div>

    </div>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#ae0000" type = "ball-fussion" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
</div>
