.container-fluid{
    height: 40rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.spinner{
    width: 100%;
}
.fa,
.fas {
    text-align: center;
    margin-left: 8%;
}
.card{
    border-radius: 30px; 
    margin-left: 25px;
    margin-top: 15px;
    box-shadow: 3px 3px 10px gray;
}

.boton_contra2 {
    /* border-radius: 3em !important;
    width: 12em !important;
    background-color: #E3D049;
    border-color: #E3D049; */
    border-color: #00acd8;
    border-radius: 3em !important;
    background-color: #00acd8;
    font-size: 1.5rem;
    width: 12em !important;
}

.header {
    background-color: #00acd8;
    /* border-top-left-radius: 24px;
    border-top-right-radius: 24px; */
}

.text_header {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    color: white;
    margin-top: 15px;
    font-weight: 600;
    color: white;
}

a>i {
    color: #686A8F;
    font-size:18px
}

#ver:hover{
    color:#00acd8;
}

a {
    cursor: pointer;
}


.pagination {
    margin-top: 5%;
}

.fa-arrow-left,
.fa-arrow-right {
    font-size: 2.3rem;
}

.btn,
.btn-info {
    width: 28%;
    margin-left: 2%;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.4rem;
    height: auto;
    margin-bottom: 1%;
}

#busquedaPaciente {
    border-radius: 15px;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 25px; 
    max-width:50em;
    box-shadow: 3px 3px 10px gray;
}

pagination-controls{
    color: #00acd8;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #00acd8;
}

@media(max-width:575px) {}

@media (min-width: 576px) and (max-width:767px) {}

@media (min-width: 768px) and (max-width:991px) {}

@media (min-width: 992px) and (max-width:1199px) {}

@media (min-width: 1200px) {}