.header {
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
}

.estudio-title {
    color: black;
}

.btn .cursor {
    text-align: center;
}
.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}
.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 100%;
    margin-bottom: 3em;
}