app-nav-bar {
    width: 125%;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, .0001) !important;
}

.btn-circle.btn-xl {
    width: 65px;
    height: 65px;
    padding: 10px 16px;
    border-radius: 50px;
    font-size: 24px;
    line-height: 1.33;
    background-color: white;
    box-shadow: 3px 3px 10px gray;
    float: right;
    margin: -6rem 0rem 0rem;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.ver-chat {
    display: block;
    position: absolute;
}

.ocultar-chat {
    display: none;
}

.contact {
    position: fixed;
    margin-top: 10em;
    padding-left: 0em;
    height: 4.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fix-footer {
    position: fixed;
    top: 96%;
}

.fix-footer h6 {
    font-size: 1.2rem;
    font-weight: 500;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .modal-dialog{
        margin: 13.8rem 0rem 0rem 28.5rem;
    }
}

@media (min-width: 1280px) and (max-height: 900px){
	.modal-dialog{
        margin: 12.3rem 0rem 0rem 44.5rem;
    }
}
  
@media (min-width: 2160px) and (max-height: 1440px){
	.modal-dialog{
        margin: 17rem 0rem 0rem 99.5rem;
    }
}

@media (min-width: 1920px) and (max-height: 1200px){
    .modal-dialog{
        margin: 17rem 0rem 0rem 84.5rem;
    }   
}

@media (min-width: 1440px) and (max-height: 900px){
    .modal-dialog{
        margin: 17rem 0rem 0rem 54.5rem;

    }
}

@media (min-width: 1680px) and (max-height: 1050px){
    .modal-dialog{
        margin: 36rem 0rem 0rem 69.5rem;
    }
}

@media (min-width: 1920px) and (max-height: 1280px){
    .modal-dialog{
        margin: 17rem 0rem 0rem 84.5rem;
    }
}

@media (min-width: 2736px) and (max-height: 1824px){
    .modal-dialog{
        margin: 13rem 0rem 0rem 116rem;
    }
}

@media (min-width: 3840px) and (max-height: 2600px){
    .modal-dialog{
        margin: 30rem 0rem 0rem 181rem;
    }
}




@media print
{
.noprint {display:none;}
#content {
    width: calc(100% - 0%);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
}