<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="text-principal centerxd">
                AGREGAR PACIENTE
            </h2>
        </div>
    </div>
    <app-stepper></app-stepper>

</div>