.ahorro {
    color: green;
}

.btn-secondary {
    margin-left: 100%;
}

pagination-controls{
    color: #00acd8;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #00acd8;
}

#elimi{
    color: rgb(199, 24, 24);
}

#agree:hover{
    color:#00acd8;
}

#buscador{
    border-radius: 15px;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 25px; 
    max-width:50em;
    box-shadow: 3px 3px 10px gray;
}