.container-fluid{
    margin-top: 30px;
}

.form-row{
    margin-bottom: 15px;
}

label{
    font-size: 1rem;
}

p{
    font-size: .9rem;
}

#admin input{
    box-shadow: 3px 3px 6px gray; 
    border-radius: 1rem;
    outline: none;
    border: none;
    width: 30%;
    height: 25px;
    margin-left: 10px;
}

#fecha input{
    box-shadow: 3px 3px 6px gray; 
    border-radius: 1rem;
    outline: none;
    border: none;
    width: 38%;
    height: 25px;
    margin-left: 10px;
}

#fecha input::placeholder{
    font-size: .9rem;
}

#vidaSexual input{
    box-shadow: 3px 3px 6px gray; 
    border-radius: 1rem;
    outline: none;
    border: none;
    width: 38%;
    height: 25px;
    margin-left: 10px;
}

#tipoMetodo input, 
#crecimiento input,
#fechaUltimoP input{
    box-shadow: 3px 3px 6px gray; 
    border-radius: 1rem;
    outline: none;
    border: none;
    width: 50%;
    height: 25px;
    margin-left: 10px;
}

#gestas input{
    box-shadow: 3px 3px 6px gray; 
    border-radius: 1rem;
    outline: none;
    border: none;
    width: 100%;
    height: 25px;
}

#colpo input, 
#papanicolao input,
#revision input,
#primera input,
#pechos input,
#primerEmbarazo input{
    box-shadow: 3px 3px 6px gray; 
    border-radius: 1rem;
    outline: none;
    border: none;
    width: 70%;
    height: 25px;
}

#nacidos input{
    box-shadow: 3px 3px 6px gray; 
    border-radius: 1rem;
    outline: none;
    border: none;
    width: 38%;
    height: 25px;
    margin-left: 10px;
}

#fechas input{
    box-shadow: 3px 3px 6px gray; 
    border-radius: 1rem;
    outline: none;
    border: none;
    width: 70%;
    height: 25px;
    margin-left: 10px;
}

.boton{
    margin-top: 15px;
    border: none;
    background-color: #00acd8 !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    height: 40px;
    width: 150px;
    margin-bottom: 15px;
}

.boton2{
    margin-top: 15px;
    border: none;
    background-color: #686A8F !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    height: 40px;
    width: 150px;
    margin-left: 10px;
    margin-bottom: 15px;
}