.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #686A8F;
    font-style: italic;
    margin-left: 30px;
}

span {
    font-weight: 700;
    margin-right: 0.3rem;
    font-size: 1.1rem;
}