<form autocomplete="off" #form="ngForm">


    <div id="tablaData">

        <section class="noprint">
            <app-titulos [title]="'HOJA DE REPORTE'"></app-titulos>
            <!-- <h2 class="centerxd">HOJA DE REPORTE</h2> -->
        </section>

        <section class="row header-row">
            <div class="col-md-9 header-pdf show-to-pdf">
                <div id="header-text" id="img_content" class="header-img hide-display mb-5">
                    <img src="../../../../../assets/images/bs-1-hero.png" />
                </div>
            </div>

            <div class="col-md-3">
                <div class="center forced-jump noprint">
                    <button type="button" class="btn btn-outline-primary btn-block hide-when-printing buttonSVY" (click)="printComponent('tablaData')">
                        DESCARGAR PDF
                    </button>

                    <div class="btn btn-success" (click)="imprimirPDFLabs()">PRUEBA PDF</div>
                </div>

            </div>
        </section>
        <section class="row mb-1">
            <div class="col-md-12">

                <ficha-info-user [pacienteInfo]="paciente"></ficha-info-user>

            </div>
        </section>
        <div class="container-fluid card-pdf">

            <div class="card" *ngFor="let item of resultadoF">
                <div>
                    <div class="">
                        <div class="">
                            <label class="centerxd">{{item.idEstudio.ESTUDIO}} </label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 elements">TIPO</div>
                            <div class="col-md-3 elements">ELEMENTOS</div>
                            <div class="col-md-3 elements">OBTENIDO</div>
                            <div class="col-md-3 elements">VALORES DE REFERENCIA</div>
                            <br>
                        </div>
                        <div>
                            <!-- poner un div -->
                            <div class="" *ngFor="let item of resultadoF">
                                <div class="row" *ngFor="let it of item.idEstudio.ELEMENTOS; let i = index">
                                    <div class="col-md-3">
                                        <p class="text-center elements" *ngIf="tipos[i] != 'comentario'">{{tipos[i]}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <!-- <pre>  {{item.idEstudio.ELEMENTOS[i].elementos | json}} </pre> -->
                                        <!--label class="col col-form-label">{{it.tipo}} </label-->
                                        <p class="text-center obtenidos">{{it.elementos}} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="text-center obtenidos">{{obtenido[i]}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="text-center obtenidos" *ngFor="let item of it.referencia">{{item.referencia}} </p>
                                    </div>


                                </div>
                            </div>

                        </div>



                        <div class="container-fluid fixed-info-censur-bottom ">
                            <div class="row">
                                <div class="col-3">
                                    <p> Dr. Alberto Zamora Palma </p>
                                    <p> Anatomopatólogo / cp: 3279016 </p>
                                    <p> ATENTAMENTE </p>
                                </div>
                                <div class="offset-md-6 col-md-3">
                                    <p class="text" *ngFor="let responsable of resultadoF"> {{responsable.quimico}} </p>
                                    <p class="text"> QUIMICO </p>
                                </div>
                            </div>



                        </div>

                        <!-- <div  id="img_footer" class="hide-display"  >
                        <img src="../../../../../assets/images/lineas-bs.png" class="img-fluid"  />
                    </div> -->

                    </div>


                </div>
            </div>
        </div>
    </div>

</form>