<!-- ESTE TEMPLATE ES DE LOS PAQUETES EN GENERAL -->
<div class="container animate bounceInLeft">
    <h2 class="text-center centerxd"> {{ paquete.nombrePaquete | uppercase}} </h2>
    <div class="card" id="card">
        <div class="row">
            <div class="col-md-9">    
                <ul class="mt-3">
                    <h3 class="centerxd"> Citas: </h3>
                    <li class="text-justify" *ngFor="let citas of paquete.CitasIncluidas"> 
                    <i class="fas fa-check text-success"></i> {{ citas }} </li>
                    <li *ngIf="paquete.consultasGinecologia"> 
                    <i class="fas fa-check text-success"></i> Consultas en Ginecologia: {{ paquete.consultasGinecologia.$numberDecimal}} </li>
                </ul>
    
    
                <ul  class="mt-3" *ngIf="paquete.examenesLaboratorio">
                    <h3 class="centerxd"> Exames de laboratorio: </h3>
                    <li *ngFor="let citas of paquete.examenesLaboratorio"> <i class="fas fa-check text-success"></i> {{ citas }} </li>
                </ul>
    
    
                <div class="mt-3" *ngIf="paquete.ultrasonidos">
                    <h3 class="centerxd"> Ultrasonidos: </h3>
                    <li *ngFor="let ultra  of paquete.ultrasonidos">
                        <i class="fas fa-check text-success"></i> {{ ultra }}
                    </li>
                </div>
    
                <!-- <div  *ngIf="paquete.extras"  > -->
    
                <ul class="mt-3" *ngIf="paquete.extras">
    
                    <h3 class="centerxd">Más beneficios: </h3>
                    <li *ngFor="let extra of paquete.extras">
                        <i class="fas fa-check text-success"></i> {{ extra }}
                    </li>
    
                </ul>
    
    
                <!-- </div> -->
    
                <ul class="mt-3" *ngIf="paquete.descuentos">
                    <h3 class="centerxd"> Descuentos: </h3>
                    <li *ngFor="let descuentos of paquete.descuentos"> <i class="fas fa-check text-success"></i> {{ descuentos}} </li>
    
                </ul>
    
    
                <ul class="mt-3" *ngIf="paquete.farmacia">
                    <h3 class="centerxd"> Farmacia: </h3>
                    <li *ngFor="let farmacia of paquete.farmacia"> <i class="fas fa-check text-success"></i> {{ farmacia }} </li>
    
                </ul>
    
                <ul class="mt-3" *ngIf="paquete.rayosX">
                    <h3 class="centerxd"> Rayos X: </h3>
                    <li *ngFor="let farmacia of paquete.farmacia"> <i class="fas fa-check text-success"></i> {{ farmacia }} </li>
    
                </ul>
    
    
            </div>
            <div class="col-md-3">
                <img [src]="paquete.icon" class="img-fluid">
    
                <h4 class="text-center mt-4"> Precio: $ {{ paquete.costoTotal }} </h4>
                <a class="btn btn-success btn-block text-white" routerLink="/paciente">  Adquirir  </a>
    
                <div *ngIf="paquete.nombrePaquete === 'PAQUETE DE CONTROL PRENATAL'" class="center">
                    <a class="center btn btn-block btn-info" data-toggle="modal" data-target="#exampleModal">  Ver forma de pago </a>                      
                </div>
                <br>
                <div *ngIf="paquete.nombrePaquete === 'PAQUETE DE CONTROL PRENATAL DE ALTO RIESGO'" class="center">
                    <a class="center" download="anexopaquete.pdf" target="_blank" href="http://tlayacapan.grupomedicohorizonte.com.mx/contratos/ANEXO_PAQUETE_DE_MATERNIDAD.pdf">  Descargar anexo </a>
                </div>
    
                <!--div class="alert alert-warning" role="alert" *ngIf="paquete.nombrePaquete === 'PAQUETE DE CONTROL PRENATAL'">
    
                    <a class="center" [routerLink]="['/paquete/5e7a40531c9d440000a97610']">  Paquete Alto riesgo </a>
                </div-->
    
            </div>
        </div>
    </div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tabulador de maternidad </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
            <div class="card" style="border-radius: 30px;">
                <div class="card-heder header">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 text_header">
                                <p>semana de gestación</p>
                            </div>
                            <div class="col-md-3 text_header">
                                <p>Semanas de pagos</p>
                            </div>
                            <div class="col-md-3 text_header">
                                <p>Pago</p>
                            </div>
                            <div class="col-md-3 text_header">
                                <p>Acumulado</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <p style="text-align: center;">1</p>
                            </div>
                            <div class="col-md-3">
                                <p style="text-align: center;">38</p>
                            </div>
                            <div class="col-md-3">
                                <p style="text-align: center;">$342.50</p>
                            </div>
                            <div class="col-md-3">
                                <p style="text-align: center;">0</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p style="text-align: center;">2</p>
                            </div>
                            <div class="col-md-3">
                                <p style="text-align: center;">37</p>
                            </div>
                            <div class="col-md-3">
                                <p style="text-align: center;">$351.50</p>
                            </div>
                            <div class="col-md-3">
                                <p style="text-align: center;">0</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <p style="text-align: center;">3</p>
                            </div>
                            <div class="col-md-3">
                                <p style="text-align: center;">38</p>
                            </div>
                            <div class="col-md-3">
                                <p style="text-align: center;">$342.50</p>
                            </div>
                            <div class="col-md-3">
                                <p style="text-align: center;">0</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>