<div class="container-fluid">
    <app-titulos [title]="servicio" [rol]="'posada'"></app-titulos>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <form>
                    <div class="form-group">
                        <input type="text" name="filterPost" placeholder="Buscar" class="form-control" id="busqueda">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header header">
                        <div class="row">
                            <div class="col text_header">
                                <p>SERVICIO</p>
                            </div>
                            <div class="col text_header">
                                <p>PRECIO</p>
                            </div>
                        </div>
                    </div>        
                    <div class="card-body">
                        <div *ngFor="let item of serviciosPosada">
                            <div class="row">
                                <div class="col texto">
                                    <p>
                                        {{ item.SERVICIO}}
                                    </p>
                                </div>
                                <div class="col texto pointer" (click)="agregarCarrito(item)">
                                    <p>
                                        {{ item.PRECIO_PUBLICO | currency:'MXN'}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="offset-md-4">
                        <pagination-controls class="my-pagination" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior" id="listapacientes" maxSize="5" directionLinks="true" (pageChange)="pagina = $event"></pagination-controls>
                    </div> -->
                </div>
            </div>
        
            <div class="col-md-3">
                <div class="card card2">
                    <div class="card-title">
                        <h4 style="text-align: center;">COTIZACIÓN</h4>
                    </div>
                    <div class="card-body card-body2">
                        <div class="row" *ngFor="let item of carrito.items; let i=index">
                            <div class="col-md-8">
                                <p>
                                    {{item.cantidad}} {{item.nombreServicio}}: {{item.cantidad * item.precio | currency:'MXN'}}
                                    <!-- {{item.nombreEstudio}} : {{item.precio | currency:'MXN'}} -->
                                </p>
                            </div>
                            <div class="col-md-2">
                                <label class="btn">
                                    <i class="fas fa-trash-alt" id="elimi" (click)="eliminar(i)"></i>
                                </label>
                            </div>
                        </div>
                        <div *ngIf="carrito.items.length == 0">
                            <p>No cuentas con servicios en el carrito</p>
                        </div>
                    </div>
        
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-10">
                                <h5>Total: {{carrito.total | currency:'MXN'}}</h5>
                            </div>
                        </div>        
                        <button type="button" class="btn btn-success btn-block btn-tarjeta" [routerLink]="['/pago/servicios']">
                            <i class="fas fa-hand-holding-usd"></i>
                                Pagar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
