.card{
    box-shadow: 3px 3px 10px gray;
    border-radius: 30px;
}

.card-header{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.card-body{
    background-color: #ffffff; 
    border-radius: 0px 0px 30px 30px;
}

.card2{
    margin: 10px; 
    height: 300px; 
    border-radius: 24px;
}

.card-body2{
    overflow: auto;
}

.card-body2 p{
    font-size: 11px; 
    font-weight: 600; 
    margin-top: 10px; 
    text-align: center;
}

.card-title{
    border-bottom-style: solid;
}

.card-footer{
    border-top-style: solid;
    border-radius: 24px;
}

.card-footer h5{
    font-size: 15px; 
    font-weight: 800;
}

.texto{
    text-align: center;
}

#busqueda {
    border-radius: 15px;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 25px; 
    max-width:50em;
    box-shadow: 3px 3px 10px gray;
}

#elimi:hover{
    color: rgb(199, 24, 24);
}