.container-fluid{
    height: 15rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.cursor {
    cursor: pointer;
}

.paginador {
    text-align: center;
}

#card {
    border-radius: 2em;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    width: 50%;
    margin-bottom: 2em;
}

#img2 {
    max-width: 65% !important;
    display: block;
    margin: auto;
}

#h2 {
    color: #00acd8;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800;
}

a {
    color: white !important;
}

pagination-controls{
    color: #00acd8;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #00acd8;
}

@media (min-width: 576px) and (max-width:767px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}