
span {
    font-size: 1rem;
    font-weight: 400;
    color: #001672;
}
#card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    border-top-left-radius: 6rem;
    border-bottom-left-radius: 6rem;
    /* display: inline-block !important; */
}